/*mystyles.css*/

body {
	padding-top: 70px;
}



html {
	height:100%;
	background: green;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: green;

}

