/*mystyles.css*/




/***************
BACKGROUND FULL SCREEN START
********************/


img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}



@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


/***************
BACKGROUND FULL SCREEN END
********************/


/***************
QUOTE START START
********************/


.jumbotron {
	background-color: rgba(0,0,0,0);
	color:white;
	
}

h1 {
	padding-top: 10px;
}


#lead {

  background-color: rgba(0,0,0,.3);
  border-radius: 10px;
  color:white;
  padding: 20px;


}




/***************
QUOTE START END
********************/


/***************
NAV BAR START
********************/


/*.navbar-default {
background-color: rgba(248, 248, 248, 0);
background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0,rgba(248, 248, 248, 0) 100%);

}*/

.navbar-default .navbar-brand  {
	color:black;
  font:inherit;
  font-weight: bold;
  font-size: 20px;
  color: grey;
}

.navbar-brand:hover, .navbar-brand:focus {
	color:white;
}

/***************
NAV BAR END
********************/

.lgo
{
	width:100px;
	margin-top: 15px;

}



/***************
MODAL get started
********************/


div.modal-header{
  height:50px;
}

/***************
MODAL get started 
********************/


/***************
MODAL contact me
********************/


.contactMe {
  color:grey;
  text-align: center;

}

.contactLgo {
  width:200px;
  margin: 0 auto;
  display: block;
}
/***************
MODAL contact me
********************/


/*First break I need to green button to stay right not fall under*/












































/*
Legacy*/


/****************************************************************** Media Queries***
Small media START
*********************/


/*
@media (max-width:500px) {



  .lgo {
    width: 200px;
    margin: 50px auto 10px auto;
    display:block;
  
  }

  h1 {
    padding-top: 0px;
    margin: 0px;
  }

}*/

/******************
Small media END
*********************/

/*@media (max-width:500px) {

body {
  height:850px;
}

}*/
/******************
medium media 950px START
*********************/

/*@media (max-width:993px) {



  h1 {
    padding-top: 0px;
    margin: 0px;
    
  }

  p {
    margin-top: 15px;
  }*/




/******************
medium media 777px END
*********************/
